@model IEnumerable<HackathonWebAPI.Models.Member>

@{
    ViewData["Title"] = "Members";
}

<h1>Member List</h1>

<p>
    <a asp-action="PostMember">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                    @{
                        DateTime userDateTime;
                        if (item.CreatedDate.HasValue)
                        {
                            // Convert UTC to user's timezone
                            userDateTime = TimeZoneInfo.ConvertTimeFromUtc(item.CreatedDate.Value, TimeZoneInfo.FindSystemTimeZoneById(TimeZoneInfo.Local.Id));
                        }
                        else
                        {
                            userDateTime = DateTime.MinValue; //01/01/1900
                        }
                    }
                    @userDateTime
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MemberId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MemberId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MemberId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
